<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Example code of websockets with JSON and REST services
  </h1>
</div>
<div>
  <table border="1px" style="align-items: center">
    <tr><th colspan="2"><h2>Entities</h2></th></tr>
    <tr><th colspan="2"><h3>Rest services</h3></th></tr>
    <tr><td><h4>Object</h4></td><td><h4>Operation</h4></td></tr>
    <tr *ngFor="let entity of entityListRest"><td>{{entity.object}}</td><td>{{entity.operation}}</td></tr>
    <tr><th colspan="2"><h3>WebSockets</h3></th></tr>
    <tr><td><h4>Object</h4></td><td><h4>Operation</h4></td></tr>
    <tr *ngFor="let entity of entityListWS"><td>{{entity.object}}</td><td>{{entity.operation}}</td></tr>
  </table>
</div>

